body, html {
  background-color: black;
}

#banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 540px;
  margin-top: 200px;


}

h1 {
  color: white;
  font-family: 'Lora';
  font-size: 12px;
  letter-spacing: 1em;
  margin-left: 35%;
  margin-top: 150px;
}

.co {
  font-family: 'Century Gothic';
  font-size: 8px;
  letter-spacing: 0.25em;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
  display: inline;
}


.defend {
  font-family: 'Century Gothic';
  font-size: 10px;
  color: #76507F;
  letter-spacing: 0.55em;
  font-weight: bolder;
  text-align: center;
}

a {
  text-decoration: none;
}

#rn {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  display: inline-block;
  }

  #typedtext {
    color:white;
    font-family: 'Century Gothic';
    font-size: 8px;
    letter-spacing: 0.25em;
    margin-right: 25px;
    text-align: right;
    margin-top: -250px;
  }



  #demo {
    color:white;
    font-family: 'Century Gothic';
    font-size: 8px;
    letter-spacing: 0.25em;
    text-align: center;
    display: inline-block;
    margin-top: -20%;
    margin-left: 60%;
}



.ds {
  font-family: 'Lora';
  font-size: 10px;
  letter-spacing: 0.25em;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
  display: inline;
}
 /*login form*/

 button {
     background-color: transparent;
     font-family: 'Century Gothic';
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 100%;
 }

 button:hover {
     opacity: 0.8;
 }


 .imgcontainer {
     text-align: center;
     margin: 24px 0 12px 0;
     position: relative;
 }

 img.avatar {
     width: 350px;;
     border-radius: 50%;
 }

 .container {
     padding: 16px;
     color: white;
     text-align: center;
     margin: 24px 0 12px 0;
 }

 .input {
   background-color: black;
   height: 2rem;
   line-height: 2rem;
   border: 0;
   border-bottom: 0.5px solid #eee;
   color: #eee;

 }

 span.psw {
     float: right;
     padding-top: 16px;
 }

 .modal {
     display: none;
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgb(0,0,0);
     background-color: rgba(0,0,0,0.4);
     padding-top: 60px;
 }


 .modal-content {
     background-color: black;
     margin: 5% auto 15% auto;
     border: 1px solid #888;
     width: 80%;
 }


 .close {
     position: absolute;
     right: 25px;
     top: 0;
     color: #fff;
     font-size: 35px;
     font-weight: bold;
 }

 .close:hover,
 .close:focus {
     color: #76507F;
     cursor: pointer;
 }


 .animate {
     -webkit-animation: animatezoom 0.6s;
     animation: animatezoom 0.6s
 }

 @-webkit-keyframes animatezoom {
     from {-webkit-transform: scale(0)}
     to {-webkit-transform: scale(1)}
 }

 @keyframes animatezoom {
     from {transform: scale(0)}
     to {transform: scale(1)}
 }


 @media screen and (max-width: 300px) {
     span.psw {
        display: block;
        float: none;
     }
     .cancelbtn {
        width: 100%;
     }
 }

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #76507F;
}

.op {
  font-family: 'Century Gothic';
  font-size: 12px;
}

.q {
  font-family: 'Bad Script';
  font-size: 12px;
}
